.border {
  border: 1px solid #ccc;
}

.container {
  align-self: flex-start; /* Align top */
  margin: 10px;
}

.mat-list {
  height: 100vh;
}

.mat-tile {
  overflow: auto;
  height: 50% !important;
  top: 10% !important;
}

.button-tile {
  height: 20% !important;
}

.mat-info {
  bottom: 0 !important;
  height: 10% !important;
}
