<mat-grid-list cols="2" rowHeight="fit" class="border mat-list">
    <mat-grid-tile [colspan]="2" class="mat-info">
      <ng-container *ngIf="user | async as user">
        {{ user.name }}
        {{ user.surname }}
        {{ user.email }}
      </ng-container>
    </mat-grid-tile>

    <ng-container *ngIf="cards | async as cards" class="border">
      <mat-grid-tile [colspan]="1" class="mat-tile">
        <div class="container">
          <div *ngFor="let card of cards">
            <app-card (dataEvent)="handleData($event)" [card]="card"></app-card>
          </div>
        </div>
      </mat-grid-tile>
    </ng-container>

    <ng-container *ngIf="payments | async as payments">
      <mat-grid-tile [colspan]="1" class="mat-tile">
        <div class="container">
          <app-payments [payments]="payments"></app-payments>
        </div>
      </mat-grid-tile>
    </ng-container>

    <mat-grid-tile [colspan]="2">
      <button mat-raised-button color="primary" (click)="logout()">Logout</button>
      <button mat-raised-button color="primary" (click)="transaction()">Create transaction</button>
    </mat-grid-tile>
</mat-grid-list>



