<ng-container *ngFor="let payment of payments">
  <mat-card class="payment-container" (click)="paymentDetails(payment.id)">
    <mat-card-header>
      <mat-card-title>{{ 'Date: ' + payment.date }}</mat-card-title>
      <mat-card-subtitle>
        {{ 'Sender: ' + payment.sender }}
        {{ 'Receiver: ' + payment.receiver }}
        {{ 'Amount: ' + payment.amount }}
        {{ 'Balance after transaction: ' + payment.currentCardBalance }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</ng-container>

